<nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false"
                data-target="#navbar" data-toggle="collapse"
                class="navbar-toggle collapsed" type="button">
            <i class="fa fa-reorder"></i>
        </button>
        <a href="{{url_for('index')}}" class="navbar-brand">#DengueRiskMap</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
            <li class='refresh_button'>
                <div class="col-sm-12">
                    <select class="form-control m-b" name="year">
                        <option value='-1'>Select Year</option>
                        {% for year in years %}
                            <option>{{ year }}</li>
                        {% endfor %}
                    </select>
                </div>
            </li>
            <li class='refresh_button'>
                <div class="col-sm-12">
                    <select class="form-control m-b" name="month">
                        <option value='-1'>Select Month</option>
                        {% for month in months %}
                            <option value="{{ month.index }}">{{ month.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </li>
            <li class='refresh_button'>
                <button id='update_map' class="btn btn-warning " type="button"><i class="fa fa-refresh"></i>&nbsp;Update Map</button>
            </li>

        </ul>
    </div>
</nav>