{% extends "base.html" %}
{% block main_content %}
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
            {% include 'navbar.html' %}
        </div>

        <div class="wrapper wrapper-content">

            <div class="row">
                <div class="col-lg-7">
                    <div class="container">
                        {% if error_mssg is defined %}
                        <div class='row'>
                            <div class="alert alert-danger alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ error_mssg }}
                            </div>
                        </div>
                        {% endif %}
                        {% if mssg is defined %}
                        <div class='row'>
                            <div class="alert alert-success alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ mssg }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-3 m-b-xs">
                                <a href="/" class="btn btn-outline btn-danger">
                                    <i class="fa fa-refresh"></i> Reset
                                </a>
                            </div>
                            <div class="col-sm-6 m-b-xs text-center text-warning">
                                <h3 id='map_title'>{{ map_title}}</h3>
                            </div>
                        </div>
                        <div id="leaflet_map"></div>
                    </div>
                </div>

                <div class="col-lg-5 main_left">
                    <div class="ibox float-e-margins">
                        <div id='top_provinces' class="ibox-content">
                            <table class="table table-striped">
                                <caption><h4>Top 20 high risk provinces for the selected Month</h4></caption>
                                <thead>
                                    <tr>
                                        <th>#</th><th>Province</th><th>Risk Factor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    &nbsp;
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div>
            Designed by <strong>Dr. Bernard Bett</strong>, Developed By <strong><a href="https://badili.co.ke">Badili Innovations</a></strong>
        </div>
    </div>
</div>
</div>
{% endblock %}